<header class="header header--normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <div class="header__logo">
                    <a href="{% url 'main:index' %}"><img src="/static/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-10 col-md-10">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="{% url 'main:index' %}">Bosh sahifa</a></li>
                            <li><a href="{% url 'main:about' %}">Biz haqimizda</a></li>
                            <li><a href="{% url 'main:discography' %}">Diskografiya</a></li>
                            <li><a href="{% url 'main:tours' %}">Turlar</a></li>
                            <li><a href="{% url 'main:videos' %}">Videolar</a></li>
                            <li class="active"><a href="#">Sahifalar
                            </a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'main:about' %}">Biz haqimizda</a></li>
                                    <li><a href="{% url 'main:blog' %}">Blog</a></li>
                                    <li><a href="./blog-details.html">Blog Detallari</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'main:contact' %}">Aloqa</a></li>
                        </ul>
                    </nav>
                    <div class="header__right__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
