<a href="https://instagram.com/humoyunmuxiddinovich">Instagram sahifamiz</a>
<h1 style="text-align:center;">Bizning xizmatlarimizdan foydalanganingiz uchun raxmat</h1>
<p style="text-align:center;">Ko'proq ma'lumot olish uchun kiring <strong><a href="https://instagram.com/humoyunmuxiddinovich">Humoyun Safarov</a></strong>.</p>
<br>
<p style="text-align:center; color:red;"><strong>Mualliflik huquqi himoya qilinadi</strong>

<p style="text-align:center;"><strong>Mualliflik huquqi ma'lumotlarini litsenziyasiz olib tashlash sizning hosting va/yoki domen nom(lar)ingizning to'xtatilishiga olib keladi.</strong>

<p style="text-align:center;"><strong>Litsenziya haqida batafsil ma'lumot mavjud <a href="https://instagram.com/humoyunmuxiddinovich">shu yerda</a></strong>.</p>

<style>
img {
  margin: 0 auto;
  display: block;
  margin-top: 20%;
}
</style>
